@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-10">Simple Demo </h1>
    <p>Click to <a href="Customers/Index">View, Add, Edit, Delete Customer Records</a>.</p>
</div>
